.App {
  position: relative;
  max-width: 1500px;
  min-height: 758px;
  background-color: rgba(21, 126, 7, 0.61);
  margin: 0 auto;
  padding: 0px 0 10px 0;
}

.block {
  display: flex;
  justify-content: center;
  max-width: 90%;
  text-align: center;
  margin: 20px auto 20px auto;
}

.popap {
  font-size: 1.5rem;
  color: rgb(82, 10, 150);
  font-weight: 800;
  line-height: 101px;
  position: absolute;
  top: 32%;
  left: 33%;
  max-width: 50%;
  height: 101px;
  border: 2px solid rgb(82, 10, 150);
  background: white;
  opacity: 90%;
  border-radius: 10px;
  padding: 0 15px 0 15px;
  z-index: 2;
}
.disappearance {
  animation-name: myAnimation;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

@keyframes myAnimation {
  100%{
      display: none;
      opacity: 0;
      transform: rotateX(360deg);
  }
}
.not-available:hover {
  border-width: 12px;
  border-radius: 14px;
  transition-duration: 0,8s;
  transform: rotate3d(1, 1, 1, 12deg);
}

.app-top {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.customization {
  width: 60%;
  padding-bottom: 2.5rem;
}

.game-buttons {
  width: 15%;
  padding-top: 2rem;
}

.button-start, .button-finish {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
  width: 65%;
  height: 50px;
}

.fullscreen {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  height: 50px;
  border-radius: 20%;
  background-color: tomato;
}

button {
  font-size: 1rem;
  background-color: yellow;
  border: 2px solid tomato;
  border-radius: 10px;
  margin: 0 5px 0 5px;
  cursor: pointer;
}

button:hover {
  border: 2px solid black;
}

.customization_title {
  text-align: center;
}

.settings {
  display: flex;
  justify-content: space-between;
}

.customization_title {
  font-size: 25px;
  color: rgb(82, 10, 150);
  margin: 0px 0 14px 0;
}

.timer-game, .customization__settings, .customization-score {
  color: rgb(82, 10, 150);
  font-size: 1.5rem;
  font-weight: 700;
  height: 7.5vh;
  border-radius: 4px;
  margin: 0;
}

.customization-score span {
  border: 3px solid black;
  margin-left: 10px;
  padding: 1px 3px 1px 3px;
}

.timer-game p {
  line-height: 34px;
  padding-left: 4px;
}

.timer-game span {
  color: black;
}

.customization button {
  min-height: 4vh;
}

.clicked-timer {
  font-size: 1.5rem;
  color: tomato;
  font-weight: 500;
}



.block>* {
  width: 15%;
  height: 17vh;
  margin: 0 1rem 0 1rem;
  border: 2px solid yellow;
}
.image {
  background-color: tomato;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  transition-property: border-width, border-radius;
}

.image0 {
  background-color: tomato;
}

.image1, .image12 {
  background-image: url(./images/1.jpeg);
}
.image2, .image22{
  background-image: url(./images/2.jpeg);
}
.image3, .image32{
  background-image: url(./images/3.jpeg);
}
 
.image4, .image42{
  background-image: url(./images/4.jpeg);
}
.image5, .image52{
  background-image: url(./images/5.jpeg);
}
 
.image6, .image62{
  background-image: url(./images/6.jpeg);
}
  
.image7, .image72 {
  background-image: url(./images/7.jpeg);
}

.image8, .image82 {
  background-image: url(./images/8.jpeg);
}

.image9, .image92 {
  background-image: url(./images/9.jpeg);
}

footer {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 50px;
}

.footer__title {
  margin: 0;
}

.footer__logo {
  width: 60px;
}

.customization__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2vh;
}

.statistics {
  font-size: 1.5rem;
  padding-top: 20px;
}

.statistics-list {
  color: blueviolet;
  font-size: 1.1rem;
  width: 12%;
  position: absolute;
  /* display: none; */
  display: flex;
  justify-content: space-between;
  background-color: cornsilk;
}

.statistics-list_none {
  display: none;
}

.statistics-list__close {
  width: 10%;
  height: 3vh;
  color: red;
  background-color: cornsilk;
  border: 1px solid black;
}

.statistics__button {
  background-color: cornsilk;
}