.App {
  max-width: 1500px;
  background-color: green;
  margin: 0 auto;
  padding: 30px 0 30px 0;
}

.block {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  text-align: center;
  margin: 20px auto 20px auto;
}

.block>* {
  width: 250px;
  height: 300px;
  margin: 0 20px 0 20px;
  border: 2px solid yellow;
}
.image {
  background-color: tomato;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image0 {
  background-color: tomato;
}

.image1, .image12 {
  background-image: url(./images/1.jpeg);
}
.image2, .image22{
  background-image: url(./images/2.jpeg);
}
.image3, .image32{
  background-image: url(./images/3.jpeg);
}
 
.image4, .image42{
  background-image: url(./images/4.jpeg);
}
.image5, .image52{
  background-image: url(./images/5.jpeg);
}
 
.image6, .image62{
  background-image: url(./images/6.jpeg);
}
  
.image7 {
  background-image: url(./images/7.jpeg);
}
