.App {
  position: relative;
  max-width: 1500px;
  background-color: rgba(21, 126, 7, 0.61);
  margin: 0 auto;
  padding: 20px 0 30px 0;
}

.block {
  display: flex;
  justify-content: center;
  max-width: 90%;
  text-align: center;
  margin: 20px auto 20px auto;
}

.popap {
  font-size: 1.5rem;
  color: rgb(82, 10, 150);
  font-weight: 800;
  line-height: 101px;
  position: absolute;
  top: 32%;
  left: 33%;
  max-width: 50%;
  height: 101px;
  border: 2px solid rgb(82, 10, 150);;
  background: white;
  opacity: 90%;
  border-radius: 10px;
  padding: 0 15px 0 15px;
  z-index: 2;
}
.disappearance {
  animation-name: myAnimation;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

@keyframes myAnimation {
  100%{
      display: none;
      opacity: 0;
      transform: rotateX(360deg);
  }
}
.not-available:hover {
  border-width: 12px;
  border-radius: 14px;
  transition-duration: 0,8s;
  transform: rotate3d(1, 1, 1, 12deg);
}

.app-top {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.customization {
  width: 60%;
  padding-bottom: 3.5rem;
}

.button-start {
  margin-top: 50px;
  font-size: 1rem;
  font-weight: 700;
  width: 10%;
  height: 50px;
}

button {
  font-size: 1rem;
  background-color: yellow;
  border: 2px solid tomato;
  border-radius: 10px;
  margin: 0 5px 0 5px;
}

.customization_title {
  text-align: center;
}

.settings {
  display: flex;
  justify-content: space-between;
}

.customization p {
  font-size: 25px;
  color: rgb(82, 10, 150);
  margin: 0px 0 14px 0;
}

.timer-game, .settings p {
  font-size: 1.5rem;
  font-weight: 700;
  height: 2.5rem;
  border-radius: 4px;
}

.timer-game p {
  line-height: 34px;
  padding-left: 4px;
}

.timer-game span {
  color: black;
}

.customization button {
  height: 46px;
}

.clicked-timer {
  font-size: 1.5rem;
  color: tomato;
  font-weight: 500;
}

.block>* {
  width: 15%;
  height: 230px;
  margin: 0 20px 0 20px;
  border: 2px solid yellow;
}
.image {
  background-color: tomato;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  transition-property: border-width, border-radius;
}

.image0 {
  background-color: tomato;
}

.image1, .image12 {
  background-image: url(./images/1.jpeg);
}
.image2, .image22{
  background-image: url(./images/2.jpeg);
}
.image3, .image32{
  background-image: url(./images/3.jpeg);
}
 
.image4, .image42{
  background-image: url(./images/4.jpeg);
}
.image5, .image52{
  background-image: url(./images/5.jpeg);
}
 
.image6, .image62{
  background-image: url(./images/6.jpeg);
}
  
.image7, .image72 {
  background-image: url(./images/7.jpeg);
}

.image8, .image82 {
  background-image: url(./images/8.jpeg);
}

.image9, .image92 {
  background-image: url(./images/9.jpeg);
}